<div id="home" tab="welcome" class="hide-sub-nav" spaceid="792600356">
	<div>
	  <div id="home-top">
		<div id="featured-photo">
			<h2>分享你的相片；靜觀世界變化。</h2>
			<a href="/photos/pmorgan/32606683/" class="image_link main-image">
				<img src="http://l.yimg.com/g/images/home_photo_pmorgan.jpg" alt="">
			</a>
			<cite>
				<a href="http://www.flickr.com/creativecommons/" class="image_link">
					<img src="http://l.yimg.com/g/images/home_cc.png" width="16" height="16" alt="Creative Commons 授權" class="trans_png">
				</a> 
				<a href="/photos/pmorgan/">pmorgan</a> 上載
			</cite>
		</div>
	
		<div id="stats-strip">
			<form action="/search/advanced" method="GET">
				<input type="text" name="q" id="search-field-welcome" class="form-field" onfocus="F.iphone.setSearchFields(this);" onkeyup="F.iphone.setSearchFields(this);" onchange="F.iphone.setSearchFields(this);"> <a class="Butt form-submit" type="submit" href="#">搜索</a>
			</form>
			<ul>
				<li class="first"><a href="/explore/interesting/">過去一分鐘</a> <strong>4,390</strong> 個上載 <b>&#183;</b></li>
				<li class="tour"><a href="http://www.flickr.com/tour/">參與導覽</a></li>
			</ul>
			</div>
		</div>
		<ul class="button-nav">
			<li class="first"><a class="Butt" href="/signin/" type="signin">登录</a></li>
			<li class="last"><a class="Butt" href="/signup/yahoo/">注册</a></li>
		</ul>
	</div>
</div>


<%= render :partial => 'mshared/m_search' %>

<%= render :partial => 'mshared/m_404' %>
