<h2 class="mb5">正在热映 · · · · · · 
    <span class="pl">( <a href="./nowplaying">更多</a> )</span>
</h2>
 <div class="movie_headerline clearfix">
	<div class="left_conner"><em></em><b></b></div>

	    <div id="content_menu1" class="content clearfix" >

	        <div class="headerline_img"><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'cinema'})"><img src="http://t.douban.com/mpic/s4287549.jpg"></a></div>
	        <div class="headerline_content">
	            <div class="title clearfix"><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'cinema'})">唐山大地震</a><span class="bigstar40"></span><span class="grade">7.5</span></div>

	                    <span class="pl">导演:</span> 冯小刚<br>


	                    <span class="pl">主演:</span> 徐帆 / 张静初 / 李晨 / 陈道明 / 张子枫 / 张家骏 / 王子文 / 陈瑾 / 陆毅 / 张国强 / 杨立新 / 吕中 / 咏梅 / 刘莉莉 / 马秋子<br>

	                    <span class="pl">制片国家/地区:</span> 中国大陆 / 香港<br>

	                    <span class="pl">上映日期:</span> 2010-07-22<br>
	             <span>

	            58441人看过 / 15727人想看
	            </span>
	        </div>
	        <div style="" class="ul"></div>
	        <div class="headerline_review">
	            <ul>

	                <li>[影评]<a href="http://movie.douban.com/review/3471751/">姥姥说，姥爷说，妈妈说</a></li>
	                <div style="float: right;">&gt; <a href="http://movie.douban.com/subject/3596502/reviews">更多影评</a></div>

	                <li>[影评]<a href="http://movie.douban.com/review/3482149/">谦卑和崇敬</a></li>
	            </ul>
	        </div>

	    </div>

	    <div id="content_menu2" class="content clearfix" >

	        <div class="headerline_img"><a href="http://movie.douban.com/subject/3628370/" onclick="moreurl(this, {from:'cinema'})"><img src="http://img2.douban.com/mpic/s4078262.jpg"></a></div>
	        <div class="headerline_content">

	            <div class="title clearfix"><a href="http://movie.douban.com/subject/3628370/" onclick="moreurl(this, {from:'cinema'})">阿黛拉的非凡冒险</a><span class="bigstar35"></span><span class="grade">7.0</span></div>

	                    <span class="pl">导演:</span> Luc Besson<br>

	                    <span class="pl">主演:</span> Louise Bourgoin / Mathieu Amalric / Gilles Lellouche / Jean-Paul Rouve / Jacky Nercessian<br>

	                    <span class="pl">制片国家/地区:</span> 法国<br>


	                    <span class="pl">上映日期:</span> 2010-08-03 (中国大陆)<br>
	             <span>
	            2486人看过 / 6237人想看
	            </span>
	        </div>
	        <div style="" class="ul"></div>
	        <div class="headerline_review">
	            <ul>


	                <li>[影评]<a href="http://movie.douban.com/review/3503102/">优雅气质挽救阿黛拉</a></li>
	                <div style="float: right;">&gt; <a href="http://movie.douban.com/subject/3628370/reviews">更多影评</a></div>
	                <li>[影评]<a href="http://movie.douban.com/review/3499323/">连路人甲都可以美得像娇羞版的奥兰多布鲁姆...</a></li>
	            </ul>
	        </div>

	    </div>

	    <div id="content_menu3" class="content clearfix">

	        <div class="headerline_img"><a href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'cinema'})"><img src="http://img2.douban.com/mpic/s3983923.jpg"></a></div>
	        <div class="headerline_content">
	            <div class="title clearfix"><a href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'cinema'})">深海探奇</a><span class="bigstar35"></span><span class="grade">6.7</span></div>

	                    <span class="pl">导演:</span> Jean-Jacques Mantello<br>


	                    <span class="pl">主演:</span> Marion Cotillard<br>

	                    <span class="pl">制片国家/地区:</span> 英国<br>

	                    <span class="pl">上映日期:</span> 2010-07-30 (中国大陆)<br>
	             <span>

	            713人看过 / 1159人想看
	            </span>
	        </div>
	        <div style="" class="ul"></div>
	        <div class="headerline_review">
	            <ul>

	                <li>[影评]<a href="http://movie.douban.com/review/3498441/">老婆看睡着了！</a></li>
	                <div style="float: right;">&gt; <a href="http://movie.douban.com/subject/3148038/reviews">更多影评</a></div>

	                <li>[影评]<a href="http://movie.douban.com/review/3486569/">黄海深爱深海</a></li>
	            </ul>
	        </div>

	    </div>

	    <div id="content_menu4" class="content clearfix" >

	        <div class="headerline_img"><a href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'cinema'})"><img src="http://t.douban.com/mpic/s4425845.jpg"></a></div>
	        <div class="headerline_content">

	            <div class="title clearfix"><a href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'cinema'})">我的美女老板</a><span class="bigstar30"></span><span class="grade">5.3</span></div>

	                    <span class="pl">导演:</span> 李虹<br>

	                    <span class="pl">主演:</span> 何润东 / 景甜 / 印小天 / 包小柏 / 吴大维 / 范明 / 陶虹 / 吴辰君 / 李子雄<br>

	                    <span class="pl">制片国家/地区:</span> 中国大陆<br>


	                    <span class="pl">上映日期:</span> 2010-07-30<br>
	             <span>
	            812人看过 / 1076人想看
	            </span>
	        </div>
	        <div style="" class="ul"></div>
	        <div class="headerline_review">
	            <ul>


	                <li>[影评]<a href="http://movie.douban.com/review/3487390/">你真是太2了！</a></li>
	                <div style="float: right;">&gt; <a href="http://movie.douban.com/subject/4275502/reviews">更多影评</a></div>
	                <li>[影评]<a href="http://movie.douban.com/review/3491669/">《我的美女老板》：烂编剧的故事</a></li>
	            </ul>
	        </div>

	    </div>


	    <ul id="hot_movies_menu" class="menu">

	            <li id="menu1" class="first">
	            <div class="clearfix" rel="off">
	            <em></em>
	                <div class="arrow"></div>
	                <div class="img"><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'cinema'})"><img height="48px" src="http://t.douban.com/spic/s4287549.jpg"></a></div>
	                <div class="intro"><a class="title" href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'cinema'})">唐山大地震</a><span class="allstar40"></span>7.5</div>

	            </div>
	        </li>

	            <li id="menu2" class="">
	            <div class="clearfix" rel="off">
	            <em></em>
	                <div class="arrow"></div>
	                <div class="img"><a href="http://movie.douban.com/subject/3628370/" onclick="moreurl(this, {from:'cinema'})"><img height="48px" src="http://img2.douban.com/spic/s4078262.jpg"></a></div>
	                <div class="intro"><a class="title" href="http://movie.douban.com/subject/3628370/" onclick="moreurl(this, {from:'cinema'})">阿黛拉的非凡冒险</a><span class="allstar35"></span>7.0</div>

	            </div>
	        </li>

	            <li id="menu3" class="">
	            <div class="clearfix" rel="off">
	            <em></em>
	                <div class="arrow"></div>
	                <div class="img"><a href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'cinema'})"><img height="48px" src="http://img2.douban.com/spic/s3983923.jpg"></a></div>
	                <div class="intro"><a class="title" href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'cinema'})">深海探奇</a><span class="allstar35"></span>6.7</div>

	            </div>
	        </li>

	            <li id="menu4" class="last">
	            <div class="clearfix" rel="off">
	            <em></em>
	                <div class="arrow"></div>
	                <div class="img"><a href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'cinema'})"><img height="48px" src="http://t.douban.com/spic/s4425845.jpg"></a></div>
	                <div class="intro"><a class="title" href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'cinema'})">我的美女老板</a><span class="allstar30"></span>5.3</div>

	            </div>
	        </li>
	    </ul>
</div>
