<div class="newtags">
  <h2>热门标签· · · · <span class="pl">(<a href="http://movie.douban.com/tag/?view=cloud">所有热门标签</a>)</span></h2>
  <ul class="content clearfix">
      <li>[平台]</li>
      <li><a href="http://movie.douban.com/tag/%E7%88%B1%E6%83%85">windows</a></li>
      <li><a href="http://movie.douban.com/tag/%E7%88%B1%E6%83%85">mac</a></li>
      <li><a href="http://movie.douban.com/tag/%E7%88%B1%E6%83%85">iphone</a></li>
  </ul>
  <ul class="content clearfix last">
      <li>[分类]</li> 
      <li><a href="http://movie.douban.com/tag/%E7%88%B1%E6%83%85">爱情</a></li>
      <li><a href="http://movie.douban.com/tag/%E5%8A%A8%E7%94%BB">动画</a></li>
      <li><a href="http://movie.douban.com/tag/%E5%96%9C%E5%89%A7">喜剧</a></li>
      <li><a href="http://movie.douban.com/tag/%E7%88%B1%E6%83%85">爱情</a></li>
      <li><a href="http://movie.douban.com/tag/%E5%8A%A8%E7%94%BB">动画</a></li>
      <li><a href="http://movie.douban.com/tag/%E5%96%9C%E5%89%A7">喜剧</a></li>
  </ul>
</div>