			 <div class="movie_new">

			            <h2 class="green_tab clearfix"><div class="ll">豆瓣新片榜· · · · · ·</div><a href="javascript:void(0)" class="" id="new1"><span>全部</span></a><a href="javascript:void(0)" id="new2" class="on"><span>动作</span></a><a href="javascript:void(0)" id="new3" class=""><span>剧情</span></a><a href="javascript:void(0)" id="new4" class=""><span>喜剧</span></a><a href="javascript:void(0)" id="new5" class=""><span>悬疑</span></a></h2>

			            <ul id="newcontent1" class="content clearfix" style="display: none;">


			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4287549.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>1</span><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'new'})">唐山大地震</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.5</div>

			                            <span class="pl">导演:</span> 冯小刚<br>

			                            <span class="pl">主演:</span> 徐帆 / 张静初 / 李晨 / 陈道明 <br>

			                        <span class="pl">小震不用跑，大震你跑不了。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4841238/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4416672.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>2</span><a href="http://movie.douban.com/subject/4841238/" onclick="moreurl(this, {from:'new'})">猫屎一号</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.5</div>

			                            <span class="pl">导演:</span> 笹原和也<br>


			                        <span class="pl">动物世界版CS。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4356687.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>3</span><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'new'})">盗梦空间</a></h3>
			                        <div class="star clearfix"><span class="allstar50"></span>9.3</div>

			                            <span class="pl">导演:</span> Christopher Nolan<br>

			                            <span class="pl">主演:</span> Leonardo DiCaprio <br>

			                        <span class="pl">匪夷所思却又流连忘返。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3289086/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4233495.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>4</span><a href="http://movie.douban.com/subject/3289086/" onclick="moreurl(this, {from:'new'})">暮光之城3：月食</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.5</div>

			                            <span class="pl">导演:</span> David Slade<br>

			                            <span class="pl">主演:</span> Kristen Stewart <br>

			                        <span class="pl">两个男人好上才是正经事。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3003836/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4208318.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>5</span><a href="http://movie.douban.com/subject/3003836/" onclick="moreurl(this, {from:'new'})">小屁孩日记</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>7.1</div>

			                            <span class="pl">导演:</span> Thor Freudenthal<br>

			                            <span class="pl">主演:</span> Zachary Gordon <br>

			                        <span class="pl">那是我们都回不去的童年。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4133988/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4381860.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>6</span><a href="http://movie.douban.com/subject/4133988/" onclick="moreurl(this, {from:'new'})">枪王之王</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.7</div>

			                            <span class="pl">导演:</span> 尔冬升<br>

			                            <span class="pl">主演:</span> 古天乐 / 吴彦祖 / 李冰冰 <br>

			                        <span class="pl">枪王之王之龙套帝连凯无处不在。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3120852/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4149033.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>7</span><a href="http://movie.douban.com/subject/3120852/" onclick="moreurl(this, {from:'new'})">影子写手</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.8</div>

			                            <span class="pl">导演:</span> Roman Polanski<br>

			                            <span class="pl">主演:</span> Ewan McGregor <br>

			                        <span class="pl">波兰斯基的手笔，一如既往地难以形容。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4718352/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4391274.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>8</span><a href="http://movie.douban.com/subject/4718352/" onclick="moreurl(this, {from:'new'})">昼与夜</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.6</div>

			                            <span class="pl">导演:</span> Teddy Newton<br>


			                        <span class="pl">白天不懂夜的黑。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4305436/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4105667.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>9</span><a href="http://movie.douban.com/subject/4305436/" onclick="moreurl(this, {from:'new'})">志明与春娇</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.5</div>

			                            <span class="pl">导演:</span> 彭浩翔<br>

			                            <span class="pl">主演:</span> 杨千嬅 / 余文乐 / 司徒慧焯 <br>

			                        <span class="pl">导演是一个关注阴毛和打手枪的纯情男子。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3217122/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4204277.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>10</span><a href="http://movie.douban.com/subject/3217122/" onclick="moreurl(this, {from:'new'})">一页台北</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.5</div>

			                            <span class="pl">导演:</span> 陈骏霖<br>

			                            <span class="pl">主演:</span> 郭采洁 / 姚淳耀 / 张孝全 <br>

			                        <span class="pl">一页台北之傻小子、傻姑娘齐欢乐。</span>
			                    </div>
			                </li>
			            </ul>
			            <ul id="newcontent2" class="content clearfix" style="display: block;">


			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3289086/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4233495.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>1</span><a href="http://movie.douban.com/subject/3289086/" onclick="moreurl(this, {from:'new'})">暮光之城3：月食</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.5</div>

			                            <span class="pl">导演:</span> David Slade<br>

			                            <span class="pl">主演:</span> Kristen Stewart <br>

			                        <span class="pl">两个男人好上才是正经事。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2174535/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4372770.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>2</span><a href="http://movie.douban.com/subject/2174535/" onclick="moreurl(this, {from:'new'})">天龙特攻队</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.4</div>

			                            <span class="pl">导演:</span> Joe Carnahan<br>

			                            <span class="pl">主演:</span> Liam Neeson <br>

			                        <span class="pl">坦克打飞机。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3402101/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4393436.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>3</span><a href="http://movie.douban.com/subject/3402101/" onclick="moreurl(this, {from:'new'})">危情谍战</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>7.0</div>

			                            <span class="pl">导演:</span> James Mangold<br>

			                            <span class="pl">主演:</span> Tom Cruise <br>

			                        <span class="pl">当碟中谍遇上霹雳娇娃。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2153526/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4063848.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>4</span><a href="http://movie.douban.com/subject/2153526/" onclick="moreurl(this, {from:'new'})">特工绍特</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>7.1</div>

			                            <span class="pl">导演:</span> Phillip Noyce<br>

			                            <span class="pl">主演:</span> Angelina Jolie <br>

			                        <span class="pl">一个打不死也摔不死的女金刚的故事。 </span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3074503/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4117479.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>5</span><a href="http://movie.douban.com/subject/3074503/" onclick="moreurl(this, {from:'new'})">功夫梦</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.7</div>

			                            <span class="pl">导演:</span> Harald Zwart<br>

			                            <span class="pl">主演:</span> Jaden Smith / 成龙 <br>

			                        <span class="pl">功夫是发生在身边的每一件小事。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4723944/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4304548.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>6</span><a href="http://movie.douban.com/subject/4723944/" onclick="moreurl(this, {from:'new'})">飞砂风中转</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.2</div>

			                            <span class="pl">导演:</span> 庄文强<br>

			                            <span class="pl">主演:</span> 郑伊健 / 陈小春 / 方中信 <br>

			                        <span class="pl">一流的喜剧片，三流的黑帮片。 </span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4134631/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4367087.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>7</span><a href="http://movie.douban.com/subject/4134631/" onclick="moreurl(this, {from:'new'})">叶问前传</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>6.2</div>

			                            <span class="pl">导演:</span> 邱礼涛<br>

			                            <span class="pl">主演:</span> 杜宇航 / 樊少皇 / 元彪 <br>

			                        <span class="pl">一鼓作气再而衰三而竭。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3148748/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4145084.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>8</span><a href="http://movie.douban.com/subject/3148748/" onclick="moreurl(this, {from:'new'})">海扁王</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.8</div>

			                            <span class="pl">导演:</span> Matthew Vaughn<br>

			                            <span class="pl">主演:</span> Aaron Johnson <br>

			                        <span class="pl">青年挨揍侠和地上最强小萝莉街头浪漫血腥激斗故事成长篇。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2131649/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4046263.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>9</span><a href="http://movie.douban.com/subject/2131649/" onclick="moreurl(this, {from:'new'})">绿区</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.2</div>

			                            <span class="pl">导演:</span> Paul Greengrass<br>

			                            <span class="pl">主演:</span> Matt Damon / Greg Kinnear <br>

			                        <span class="pl">政治就是阴谋，士兵就是棋子。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2363919/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4356705.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>10</span><a href="http://movie.douban.com/subject/2363919/" onclick="moreurl(this, {from:'new'})">最后的风之子</a></h3>
			                        <div class="star clearfix"><span class="allstar25"></span>4.9</div>

			                            <span class="pl">导演:</span> M. Night Shyamalan<br>

			                            <span class="pl">主演:</span> Noah Ringer / Dev Patel <br>

			                        <span class="pl">贫民窟他富翁越看越像冯巩。</span>
			                    </div>
			                </li>
			            </ul>
			            <ul id="newcontent3" class="content clearfix" style="display: none;">


			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4287549.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>1</span><a href="http://movie.douban.com/subject/3596502/" onclick="moreurl(this, {from:'new'})">唐山大地震</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.5</div>

			                            <span class="pl">导演:</span> 冯小刚<br>

			                            <span class="pl">主演:</span> 徐帆 / 张静初 / 李晨 / 陈道明 <br>

			                        <span class="pl">小震不用跑，大震你跑不了。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4841238/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4416672.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>2</span><a href="http://movie.douban.com/subject/4841238/" onclick="moreurl(this, {from:'new'})">猫屎一号</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.5</div>

			                            <span class="pl">导演:</span> 笹原和也<br>


			                        <span class="pl">动物世界版CS。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4718352/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4391274.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>3</span><a href="http://movie.douban.com/subject/4718352/" onclick="moreurl(this, {from:'new'})">昼与夜</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.6</div>

			                            <span class="pl">导演:</span> Teddy Newton<br>


			                        <span class="pl">白天不懂夜的黑。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3217122/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4204277.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>4</span><a href="http://movie.douban.com/subject/3217122/" onclick="moreurl(this, {from:'new'})">一页台北</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.5</div>

			                            <span class="pl">导演:</span> 陈骏霖<br>

			                            <span class="pl">主演:</span> 郭采洁 / 姚淳耀 / 张孝全 <br>

			                        <span class="pl">一页台北之傻小子、傻姑娘齐欢乐。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4111416/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4385986.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>5</span><a href="http://movie.douban.com/subject/4111416/" onclick="moreurl(this, {from:'new'})">无人驾驶</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.3</div>

			                            <span class="pl">导演:</span> 张杨<br>

			                            <span class="pl">主演:</span> 刘烨 / 高圆圆 / 李小冉 <br>

			                        <span class="pl">当下人的情感危机、距离感和迷茫失控。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3768185/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4390674.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>6</span><a href="http://movie.douban.com/subject/3768185/" onclick="moreurl(this, {from:'new'})">海上传奇</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.5</div>

			                            <span class="pl">导演:</span> 贾樟柯<br>

			                            <span class="pl">主演:</span> 赵涛 / 陈丹青 / 杨小佛 <br>

			                        <span class="pl">里面有：苏州河+红柿子+海上花+中国+舞台姐妹+小城之春+阿飞正传…</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3230121/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4169070.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>7</span><a href="http://movie.douban.com/subject/3230121/" onclick="moreurl(this, {from:'new'})">最后一支歌</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.3</div>

			                            <span class="pl">导演:</span> Julie Anne Robinson<br>

			                            <span class="pl">主演:</span> Miley Cyrus / Greg Kinnear <br>

			                        <span class="pl">知音体电影大联播。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3074482/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4246927.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>8</span><a href="http://movie.douban.com/subject/3074482/" onclick="moreurl(this, {from:'new'})">死亡医生</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.9</div>

			                            <span class="pl">导演:</span> Barry Levinson<br>

			                            <span class="pl">主演:</span> Al Pacino <br>

			                        <span class="pl">70岁的阿尔·帕西诺依然魅力不减。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4425845.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>9</span><a href="http://movie.douban.com/subject/4275502/" onclick="moreurl(this, {from:'new'})">我的美女老板</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>5.3</div>

			                            <span class="pl">导演:</span> 李虹<br>

			                            <span class="pl">主演:</span> 何润东 / 景甜 / 印小天 <br>

			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s3983923.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>10</span><a href="http://movie.douban.com/subject/3148038/" onclick="moreurl(this, {from:'new'})">深海探奇</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.7</div>

			                            <span class="pl">导演:</span> Jean-Jacques Mantello<br>

			                            <span class="pl">主演:</span> Marion Cotillard<br>

			                    </div>
			                </li>
			            </ul>
			            <ul id="newcontent4" class="content clearfix" style="display: none;">


			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3003836/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4208318.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>1</span><a href="http://movie.douban.com/subject/3003836/" onclick="moreurl(this, {from:'new'})">小屁孩日记</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>7.1</div>

			                            <span class="pl">导演:</span> Thor Freudenthal<br>

			                            <span class="pl">主演:</span> Zachary Gordon <br>

			                        <span class="pl">那是我们都回不去的童年。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4305436/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4105667.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>2</span><a href="http://movie.douban.com/subject/4305436/" onclick="moreurl(this, {from:'new'})">志明与春娇</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.5</div>

			                            <span class="pl">导演:</span> 彭浩翔<br>

			                            <span class="pl">主演:</span> 杨千嬅 / 余文乐 / 司徒慧焯 <br>

			                        <span class="pl">导演是一个关注阴毛和打手枪的纯情男子。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3287562/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4340998.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>3</span><a href="http://movie.douban.com/subject/3287562/" onclick="moreurl(this, {from:'new'})">卑鄙的我</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>8.6</div>

			                            <span class="pl">导演:</span> Pierre Coffin / Chris Renaud<br>

			                            <span class="pl">主演:</span> Jason Segel / Steve Carell <br>

			                        <span class="pl">黑马，绝对的黑马。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/1858711/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4207957.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>4</span><a href="http://movie.douban.com/subject/1858711/" onclick="moreurl(this, {from:'new'})">玩具总动员3</a></h3>
			                        <div class="star clearfix"><span class="allstar45"></span>9.0</div>

			                            <span class="pl">导演:</span> Lee Unkrich<br>

			                            <span class="pl">主演:</span> Tom Hanks / Tim Allen <br>

			                        <span class="pl">跨度十五年的欢乐与泪水。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4843641/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4375320.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>5</span><a href="http://movie.douban.com/subject/4843641/" onclick="moreurl(this, {from:'new'})">嘻游记</a></h3>
			                        <div class="star clearfix"><span class="allstar20"></span>3.6</div>

			                            <span class="pl">导演:</span> 钟少雄<br>

			                            <span class="pl">主演:</span> 徐峥 / 谢娜 / 黄奕 <br>

			                        <span class="pl">还是去看《快乐大本营》吧。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4173583/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4392612.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>6</span><a href="http://movie.douban.com/subject/4173583/" onclick="moreurl(this, {from:'new'})">唐伯虎点秋香2之四大才子</a></h3>
			                        <div class="star clearfix"><span class="allstar25"></span>4.2</div>

			                            <span class="pl">导演:</span> 李力持<br>

			                            <span class="pl">主演:</span> 黄晓明 / 周立波 / 任贤齐 <br>

			                        <span class="pl">恭喜黄晓明又2了一回。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2276989/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4391890.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>7</span><a href="http://movie.douban.com/subject/2276989/" onclick="moreurl(this, {from:'new'})">出水芙蓉</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>5.3</div>

			                            <span class="pl">导演:</span> 刘镇伟<br>

			                            <span class="pl">主演:</span> 钟欣桐 / 方力申 / 黄圣依 <br>

			                        <span class="pl">其实你并不是那么喜欢他，你只是输不起。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3183490/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4226619.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>8</span><a href="http://movie.douban.com/subject/3183490/" onclick="moreurl(this, {from:'new'})">约会之夜</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>7.0</div>

			                            <span class="pl">导演:</span> Shawn Levy<br>

			                            <span class="pl">主演:</span> Steve Carell / Tina Fey <br>

			                        <span class="pl">爆米花电影&amp;和谐爱情观讲座。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3671986/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4155632.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>9</span><a href="http://movie.douban.com/subject/3671986/" onclick="moreurl(this, {from:'new'})">魔法保姆麦克菲2</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.3</div>

			                            <span class="pl">导演:</span> Susanna White<br>

			                            <span class="pl">主演:</span> Ralph Fiennes <br>

			                        <span class="pl">见过花样游泳的猪么？ </span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3154909/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4253589.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>10</span><a href="http://movie.douban.com/subject/3154909/" onclick="moreurl(this, {from:'new'})">杀手们</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.3</div>

			                            <span class="pl">导演:</span> Robert Luketic<br>

			                            <span class="pl">主演:</span> Ashton Kutcher <br>

			                        <span class="pl">剧情很狗血但男主角很帅。</span>
			                    </div>
			                </li>
			            </ul>
			            <ul id="newcontent5" class="content clearfix" style="display: none;">


			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4356687.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>1</span><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'new'})">盗梦空间</a></h3>
			                        <div class="star clearfix"><span class="allstar50"></span>9.3</div>

			                            <span class="pl">导演:</span> Christopher Nolan<br>

			                            <span class="pl">主演:</span> Leonardo DiCaprio <br>

			                        <span class="pl">匪夷所思却又流连忘返。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4133988/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4381860.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>2</span><a href="http://movie.douban.com/subject/4133988/" onclick="moreurl(this, {from:'new'})">枪王之王</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.7</div>

			                            <span class="pl">导演:</span> 尔冬升<br>

			                            <span class="pl">主演:</span> 古天乐 / 吴彦祖 / 李冰冰 <br>

			                        <span class="pl">枪王之王之龙套帝连凯无处不在。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3120852/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4149033.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>3</span><a href="http://movie.douban.com/subject/3120852/" onclick="moreurl(this, {from:'new'})">影子写手</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.8</div>

			                            <span class="pl">导演:</span> Roman Polanski<br>

			                            <span class="pl">主演:</span> Ewan McGregor <br>

			                        <span class="pl">波兰斯基的手笔，一如既往地难以形容。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3267120/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4388028.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>4</span><a href="http://movie.douban.com/subject/3267120/" onclick="moreurl(this, {from:'new'})">魔法师的学徒</a></h3>
			                        <div class="star clearfix"><span class="allstar35"></span>6.4</div>

			                            <span class="pl">导演:</span> Jon Turteltaub<br>

			                            <span class="pl">主演:</span> Nicolas Cage <br>

			                        <span class="pl">电影毫无新意地讲述了“科学家会武术、流氓也挡不住”的江湖真谛。 </span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2265778/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4152995.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>5</span><a href="http://movie.douban.com/subject/2265778/" onclick="moreurl(this, {from:'new'})">重生曼波</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>7.2</div>

			                            <span class="pl">导演:</span> Miguel Sapochnik<br>

			                            <span class="pl">主演:</span> Jude Law / Forest Whitaker <br>

			                        <span class="pl">优雅的杀戮，浪漫的血腥；暴力的美学，科幻的泡沫。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3851822/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4403012.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>6</span><a href="http://movie.douban.com/subject/3851822/" onclick="moreurl(this, {from:'new'})">等着你回来</a></h3>
			                        <div class="star clearfix"><span class="allstar15"></span>3.1</div>

			                            <span class="pl">导演:</span> 叶永健<br>

			                            <span class="pl">主演:</span> 吴建豪 / 李小璐 / 加护亚依 <br>

			                        <span class="pl">国内恐怖片再这样下去让人情何以堪。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/4059243/" onclick="moreurl(this, {from:'new'})"><img src="http://img2.douban.com/spic/s4142433.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>7</span><a href="http://movie.douban.com/subject/4059243/" onclick="moreurl(this, {from:'new'})">猎艳</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>5.9</div>

			                            <span class="pl">导演:</span> 卓立<br>

			                            <span class="pl">主演:</span> 张钧宁 / 朱芷莹 / 温升豪 <br>

			                        <span class="pl">平淡无奇的模仿秀。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/3699737/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s4368407.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>8</span><a href="http://movie.douban.com/subject/3699737/" onclick="moreurl(this, {from:'new'})">铁血战士</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>6.0</div>

			                            <span class="pl">导演:</span> Nimród Antal<br>

			                            <span class="pl">主演:</span> Adrien Brody <br>

			                        <span class="pl">海产品打架。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2334904/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s3925489.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>9</span><a href="http://movie.douban.com/subject/2334904/" onclick="moreurl(this, {from:'new'})">禁闭岛</a></h3>
			                        <div class="star clearfix"><span class="allstar40"></span>8.2</div>

			                            <span class="pl">导演:</span> Martin Scorsese<br>

			                            <span class="pl">主演:</span> Leonardo DiCaprio <br>

			                        <span class="pl">昔日翩翩少年，今日大腹便便。</span>
			                    </div>
			                </li>

			                <li class="clearfix">
			                <div class="img"><a href="http://movie.douban.com/subject/2132477/" onclick="moreurl(this, {from:'new'})"><img src="http://t.douban.com/spic/s3213459.jpg"></a></div>
			                    <div class="intro">
			                        <h3><span>10</span><a href="http://movie.douban.com/subject/2132477/" onclick="moreurl(this, {from:'new'})">狼人</a></h3>
			                        <div class="star clearfix"><span class="allstar30"></span>5.6</div>

			                            <span class="pl">导演:</span> Joe Johnston<br>

			                            <span class="pl">主演:</span> Benicio Del Toro <br>

			                        <span class="pl">狼人哥哥你长得好像至尊宝哦。</span>
			                    </div>
			                </li>
			            </ul>
			        </div>