<div class="movie_top">
	<h2>
	  精彩豆列
	  &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
	</h2>

	<ul class="content">
		<li class="clearfix">
	      <div class="no">1</div>
	      <div class="name"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'week'})">盗梦空间</a></div>
	      <div class="stay">0</div>
	  </li>
		<li class="clearfix">
	      <div class="no">1</div>
	      <div class="name"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'week'})">盗梦空间</a></div>
	      <div class="stay">0</div>
	  </li>
		<li class="clearfix">
	      <div class="no">1</div>
	      <div class="name"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'week'})">盗梦空间</a></div>
	      <div class="stay">0</div>
	  </li>
		<li class="clearfix">
	      <div class="no">1</div>
	      <div class="name"><a href="http://movie.douban.com/subject/3541415/" onclick="moreurl(this, {from:'week'})">盗梦空间</a></div>
	      <div class="stay">0</div>
	  </li>
	</ul>
</div>