 <div class="grid-16-8 clearfix">
		<div class="article"> 
			<%= render :partial => 'hot' %>
			<%= render :partial => 'new_papers' %>
		</div>
     <div class="aside"> 
					<%= render :partial => 'newtags' %>
					<%= render :partial => 'top_list' %>
					<div class="block5 movie_show">
						<h2>豆瓣电影250  · · · · · ·
						                <span class="pl">( <a href="http://movie.douban.com/top250">更多</a> )</span></h2>
						<div class="content clearfix">
							<dl>
			            <dt><a href="http://movie.douban.com/subject/1309163/"><img class="m_sub_img" src="http://img2.douban.com/spic/s1986504.jpg"></a></dt>
			            <dd><a href="http://movie.douban.com/subject/1309163/">恋恋笔记本</a><span class="gact"></span><br></dd>
			        </dl>
							<dl>
			            <dt><a href="http://movie.douban.com/subject/1309163/"><img class="m_sub_img" src="http://img2.douban.com/spic/s1986504.jpg"></a></dt>
			            <dd><a href="http://movie.douban.com/subject/1309163/">恋恋笔记本</a><span class="gact"></span><br></dd>
			        </dl>
							<dl>
			            <dt><a href="http://movie.douban.com/subject/1309163/"><img class="m_sub_img" src="http://img2.douban.com/spic/s1986504.jpg"></a></dt>
			            <dd><a href="http://movie.douban.com/subject/1309163/">恋恋笔记本</a><span class="gact"></span><br></dd>
			        </dl>
			
						</div>
					</div>
				</div>
     </div> 
 </div>
