<div class="opt-bar-line clearfix">
    <div class="fleft"> 
按推荐排序&nbsp;·&nbsp;<a href="./photos?type=S&amp;start=0&amp;sortby=comment&amp;size=a&amp;subtype=a">按回复排序</a>&nbsp;·&nbsp;<a href="./photos?type=S&amp;start=0&amp;sortby=time&amp;size=a&amp;subtype=a">按时间排序</a>
    </div>
    <div class="fright">
            &gt;&nbsp;<a href="./mupload" class="j a_show_login">添加剧照、壁纸或海报</a>
    </div>
</div>

<ul class="poster-col4 clearfix">
<% @taggables.each_with_index do|paper,index| 
	last = ((index+1)%4==0 )
	%>
	
	<li <%= last ? "class='last'" : ""%>>
	 		<%= link_to_paper paper, :m, :image => {:width=>"136"}  %>
      <div class="prop"> 
      </div>
       <div class="name">
           <%= paper.title %>
       </div>
  </li>
	<% if last %>
	<li class="sep"></li>
	<% end %>
<% end %>
</ul>