<h1>Tag: <%= params[:id] %></h1>
 <div class="grid-16-8 clearfix">
		<div class="article"> 
			<%= render :partial => 'show_article' %>
		</div>
     <div class="aside">
        <%= render :partial => 'show_aside' %>
     </div> 
 </div>
