
                <h3 class="photo_comments_count">
            32 Comments
        </h3>
        
        <div class="photo_comments">
                    
                        <div class="comment" id="comment72157622181581355">
                <div class="img_block">
                                    <a href="/photos/blech/" name="comment72157622181581355"><img src="http://farm1.static.flickr.com/1/buddyicons/48600109393@N01.jpg?1109008876#48600109393@N01" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/blech/">blech​</a>                                             &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        Complete with <a href="http://www.flickr.com/photos/blech/3899450347/">Jeopardy-style comments</a> and <a href="http://www.flickr.com/photos/blech/3900209288/">alphabetical, unfiltered tag lists</a>. On the other hand, it does do nice <a href="http://www.flickr.com/photos/blech/3899429139/">per-day recent upload grouping</a> and (harder to screenshot, this one) a
&quot;favorites&quot; context so you can
easily browse them.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622181915167">
                <div class="img_block">
                                    <a href="/photos/multisonic/" name="comment72157622181915167"><img src="http://farm1.static.flickr.com/41/buddyicons/20311657@N00.jpg?1199499981#20311657@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/multisonic/">multisonic</a>                                            &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        It sure is pretty, but the photo I just
uploaded was resized down to 600x450.
Ruh-roah.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622307052146">
                <div class="img_block">
                                    <a href="/photos/marcgear/" name="comment72157622307052146"><img src="http://farm4.static.flickr.com/3197/buddyicons/32611637@N00.jpg?1222360109#32611637@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/marcgear/">marcgear</a>                                             said:</h4>
                                    <p>
                        The one I uploaded kept its full res of
2048 x 1536...
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622307423644">
                <div class="img_block">
                                    <a href="/photos/hellercom/" name="comment72157622307423644"><img src="http://farm4.static.flickr.com/3272/buddyicons/21909123@N07.jpg?1205881266#21909123@N07" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/hellercom/">hellercom</a>                                          &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        When will it be available in Germany?
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622183439395">
                <div class="img_block">
                                    <a href="/photos/micronauta/" name="comment72157622183439395"><img src="http://farm3.static.flickr.com/2290/buddyicons/25904650@N08.jpg?1218693806#25904650@N08" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/micronauta/">micro.nauta</a>                                            said:</h4>
                                    <p>
                        Not bad for a 1.0, but I think FlickIt
is better for me, does batch uploads.
The rest of the stuff -like commenting-
is just fine through the web app.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622308502998">
                <div class="img_block">
                                    <a href="/photos/ginja_andy/" name="comment72157622308502998"><img src="http://farm2.static.flickr.com/1063/buddyicons/7763892@N07.jpg?1234741068#7763892@N07" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/ginja_andy/">andymatthewsphotography.com</a>                                           &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        Really like it! Didn't get on with any
of the other Apps and ended up using
their web m.flickr.com web interface.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622184280627">
                <div class="img_block">
                                    <a href="/photos/stamkostas/" name="comment72157622184280627"><img src="http://farm1.static.flickr.com/88/buddyicons/62413812@N00.jpg?1202884126#62413812@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/stamkostas/">Kostas.</a>                                            said:</h4>
                                    <p>
                        not availiable in Greece:<br />
<a href="http://www.flickr.com/photos/stamkostas/3901115160/">www.flickr.com/photos/stamkostas/3901115
160/</a><br />
<br />
is it only available in US?
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622184416045">
                <div class="img_block">
                                    <a href="/photos/ciaron/" name="comment72157622184416045"><img src="http://farm1.static.flickr.com/182/buddyicons/44124394781@N01.jpg?1265788585#44124394781@N01" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/ciaron/">ciaron</a>                                            &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        Also not available from the German
iTunes store :(
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622184698503">
                <div class="img_block">
                                    <a href="/photos/stephenhackett/" name="comment72157622184698503"><img src="http://farm1.static.flickr.com/53/buddyicons/24867777@N00.jpg?1274885577#24867777@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/stephenhackett/">ismh_</a>                                             &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        I'm sticking with Darkslide
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622184814745">
                <div class="img_block">
                                    <a href="/photos/blech/" name="comment72157622184814745"><img src="http://farm1.static.flickr.com/1/buddyicons/48600109393@N01.jpg?1109008876#48600109393@N01" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/blech/">blech​</a>                                             &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        Kostas: it's available in the UK as
well, but that's probably not much
consolation to you.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622186040901">
                <div class="img_block">
                                    <a href="/photos/rbitting/" name="comment72157622186040901"><img src="http://farm1.static.flickr.com/200/buddyicons/84905000@N00.jpg?1192055785#84905000@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/rbitting/">Bitman</a>                                          &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        But where's the zoom in feature. I
figured they'd have pinch and zoom like
most photo apps but it doesn't seem to
be in this first version. Hopefully next
one will.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622310693588">
                <div class="img_block">
                                    <a href="/photos/michaeldominic/" name="comment72157622310693588"><img src="http://farm1.static.flickr.com/51/buddyicons/81475841@N00.jpg?1231832786#81475841@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/michaeldominic/">MichaelDominicK</a>                                           &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        It is available in Polish store as well.<br />
<br />
Except for the gorgeous home screen
which is nice &amp; smooth, this app
feels very slow to me. Moving from one
screen to another is jerky and the UI
'blocks' a lot.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622186182711">
                <div class="img_block">
                                    <a href="/photos/stamkostas/" name="comment72157622186182711"><img src="http://farm1.static.flickr.com/88/buddyicons/62413812@N00.jpg?1202884126#62413812@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/stamkostas/">Kostas.</a>                                            said:</h4>
                                    <p>
                        unfortunately: <a href="http://www.flickr.com/help/forum/en-us/105668/#reply683582">www.flickr.com/help/forum/en-us/105668/#
reply683582</a><br />
let's hope this will change soon...
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622187441531">
                <div class="img_block">
                                    <a href="/photos/adamwilcox/" name="comment72157622187441531"><img src="http://farm5.static.flickr.com/4009/buddyicons/65148761@N00.jpg?1268576277#65148761@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/adamwilcox/">AdamWilcox</a>                                            &nbsp;<a href="/upgrade/" title="Find out about upgrading to Pro" type="external" class="pro-icon"></a>&nbsp;
                                             said:</h4>
                                    <p>
                        Sadly its missing a handy, &quot;post
this to Twitter&quot; function.
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
                
                        <div class="comment" id="comment72157622312201702">
                <div class="img_block">
                                    <a href="/photos/davidlh/" name="comment72157622312201702"><img src="http://farm1.static.flickr.com/69/buddyicons/42453902@N00.jpg?1153094789#42453902@N00" alt="" width="48" height="48"></a>
                                </div>
                <div class="meta_block">
                                                        <h4><a href="/photos/davidlh/">David Light Orchard</a>                                           said:</h4>
                                    <p>
                        It isn't available in the Mexican store
either :(
                        <br>
                        <small>
                            Posted 11 months ago.
                                        </small>
                    </p>
                </div>
            </div>
                        
        
        
                <div class="pagination">
                <span class="pagination-info">
            Page 1 of 2
        </span>
            <a class="Butt pagination-next" href="/photos/gruber/3900584724/page2">Next</a>
            </div>
    
    
        
        
            
        </div>

    </div>

