<div class="opt-bar-line clearfix">
    <div class="fleft"> 
按推荐排序&nbsp;·&nbsp;<a href="./photos?type=S&amp;start=0&amp;sortby=comment&amp;size=a&amp;subtype=a">按回复排序</a>&nbsp;·&nbsp;<a href="./photos?type=S&amp;start=0&amp;sortby=time&amp;size=a&amp;subtype=a">按时间排序</a>
    </div>
    <div class="fright">
            &gt;&nbsp;<a href="./mupload" class="j a_show_login">添加剧照、壁纸或海报</a>
    </div>
</div>

<ul class="opt-bar-line clearfix">
	<li>
	   <div class="cover">
				<a href="http://movie.douban.com/photos/photo/542701517/">
					<img src="http://img2.douban.com/view/photo/thumb/public/p542701517.jpg"></a>
		 </div>
      <div class="prop">
          1279x845
      </div>
       <div class="name">
           介个动作很冒险的说
               <a href="http://movie.douban.com/photos/photo/542701517/#comments">83回应</a>
       </div>
  </li>
</ul>