
<div class="filter-list">
	<h2>
	  图片类型
	   &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
	</h2>
	
	<ul class="last">
      <li class="current clearfix">
          <a href="./photos?type=S&amp;start=0&amp;sortby=vote&amp;size=a&amp;subtype=a"><span>全部尺寸</span></a>
      </li>



      <li class="clearfix">
          <a href="./photos?type=S&amp;start=0&amp;sortby=vote&amp;size=b&amp;subtype=a">
              <span>大尺寸</span>
          </a>
      </li>
      <li class="clearfix">
          <a href="./photos?type=S&amp;start=0&amp;sortby=vote&amp;size=m&amp;subtype=a">
              <span>中尺寸</span>
          </a>
      </li>

  </ul>
</div>
<p></p>

<h2>
   最新回应
  &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
</h2>
<ul class="mbt">
	<li class="mbtl"><a href="http://movie.douban.com/people/memeD/"><img src="http://t.douban.com/icon/u1177511-5.jpg"></a></li>
	<li class="mbtrdot">
		<a href="http://movie.douban.com/photos/photo/542701517/#c-33191270">某小默 : 啊拉啊拉...干脆养只狼吧...狗狗已经out拉</a>
		<span class="pl">  18:57</span>
	</li>
</ul>