 
			   	 <div class="mod">
				        <div class="slidebar clearfix">
				            <span class="btn-prev"><a href="http://movie.douban.com/photos/photo/508240758/">后退</a></span>
				            <div class="slide-wrap">
				                <ul class="clearfix">
				                    <li id="522830754">
				                        <a href="http://movie.douban.com/photos/photo/522830754/">
				                            <img src="http://img3.douban.com/view/photo/albumicon/public/p522830754.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="508254419">
				                        <a href="http://movie.douban.com/photos/photo/508254419/">
				                            <img src="http://img2.douban.com/view/photo/albumicon/public/p508254419.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="508248110">
				                        <a href="http://movie.douban.com/photos/photo/508248110/">
				                            <img src="http://t.douban.com/view/photo/albumicon/public/p508248110.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="508240758">
				                        <a href="http://movie.douban.com/photos/photo/508240758/">
				                            <img src="http://img2.douban.com/view/photo/albumicon/public/p508240758.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="479156460" class="current">
				                        <a href="http://movie.douban.com/photos/photo/479156460/">
				                            <img src="http://t.douban.com/view/photo/albumicon/public/p479156460.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="479124214">
				                        <a href="http://movie.douban.com/photos/photo/479124214/">
				                            <img src="http://img3.douban.com/view/photo/albumicon/public/p479124214.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="469357939">
				                        <a href="http://movie.douban.com/photos/photo/469357939/">
				                            <img src="http://img2.douban.com/view/photo/albumicon/public/p469357939.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="469127577">
				                        <a href="http://movie.douban.com/photos/photo/469127577/">
				                            <img src="http://img2.douban.com/view/photo/albumicon/public/p469127577.jpg" alt="">
				                        </a>
				                    </li>
				                    <li id="467956089">
				                        <a href="http://movie.douban.com/photos/photo/467956089/">
				                            <img src="http://img2.douban.com/view/photo/albumicon/public/p467956089.jpg" alt="">
				                        </a>
				                    </li>
				                </ul>
				            </div>
				            <span class="btn-next"><a href="http://movie.douban.com/photos/photo/479124214/">前进</a></span>
				        </div>
				    </div>
				    <div class="mod"> 
				    		<h2>
						        图片信息
						         &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
						    </h2>

				        <ul class="poster-info">
				            <li>电影名称：<a href="http://movie.douban.com/subject/3289086/">暮光之城3：月食</a></li>
				            <li>图片类型：官方剧照 </li>
				            <li class="pl">原图尺寸：540x720</li>
				            <li class="pl">文件大小：54.8KB</li>
				            <li class="pl">来自：<a href="http://movie.douban.com/people/37278206/">Stefani</a></li>
				            <li class="pl">上传于2010-05-16</li>
				        </ul>
				        <p class="pl2">
				            &gt;&nbsp;<a href="http://movie.douban.com/subject/3289086/">去暮光之城3：月食的页面</a>
				        </p>
				    </div>
				