	<div class="opt-bar-line clearfix">
		    <span class="opt-left">
		        第135张/共141张
		    </span>
		    <span class="opt-mid">
		        <a href="<%= paper_path(@paper,:go=>'pre') %>" title="用方向键←可以向前翻页" id="pre_photo">上一张</a>&nbsp;/&nbsp;
						<a href="<%= paper_path(@paper,:go=>'next') %>" name="next_photo" title="用方向键→可以向后翻页" id="next_photo">下一张</a>
		    </span>
		    <span class="fright">
		        &gt;&nbsp;
		            <a href="http://movie.douban.com/subject/3289086/photos?type=S">浏览所有剧照</a>
		    </span>
		</div>

		<div class="photo-show">
		    <a class="mainphoto" href="<%= paper_path(@paper,:go=>'next') %>" title="点击查看下一张">
		        <img src="<%= paper_image_url(@paper)%>">
		    </a>
		</div>

    <div class="photo_descri">
        <div class="edtext pl">JACOB  定妆照</div>
    </div>

		<div class="opt-bar clearfix">
		    <span class="update magnifier">
		        <a class="j a_show_login" 
							 target="_blank" 
							 onclick="moreurl(this, {raw: '479156460'})" 
							 href="http://t.douban.com/view/photo/raw/public/p479156460.jpg">查看原图</a>
		    </span>
    
    
		    <span id="H-479156460" class="rec">
		        <a href="http://www.douban.com/register?reason=collect" class="rec-btn  j a_show_login " name="rbtn-H-479156460">推荐</a>
		    </span>
		    <span class="rr pl">推荐28</span>

		</div>
    