<h1>暮光之城3：月食的剧照</h1>
 <div class="grid-16-8 clearfix">
		<div class="article">
			<%= render :partial => 'show_article' %>
		</div>
     <div class="aside">
        <%= render :partial => 'show_aside' %>
     </div> 
 </div>
