
<div class="photo-page hide-sub-nav" spaceid="792600359">


    
    <div class="contact-title">
            <a href="/photos/gruber/"><img src="http://farm1.static.flickr.com/9/buddyicons/44621776@N00.jpg?1117572751#44621776@N00" width="24" height="24" alt="" class="BuddyIconX"></a>
        <a href="/photos/gruber/">gruber's photostream</a>
        
        <a href="/photos/gruber/more/" class="contact-more"><span>More...</span></a>
        </div>
    
    
    <div class="photo-main">
        <div class="photo_nav">
                    <a class="next_photo_div" href="/photos/gruber/3902120103/">
                <span class="next_photo_overlay"></span>
                            <img src="http://farm3.static.flickr.com/2658/3902120103_b122df0f70_s.jpg" width="65" height="65" alt="" class="pc_img">
                        </a>
                            <a class="prev_photo_div" href="/photos/gruber/3894854202/">
                <span class="prev_photo_overlay"></span>
                            <img src="http://farm3.static.flickr.com/2547/3894854202_e615544006_s.jpg" width="65" height="65" alt="" class="pc_img">
                        </a>
                        </div>

                
        <div class="photo_container pc_m" style="width: 160px; height: 240px;">
                                        <img style="position:absolute;display:block;top:0;left:0;" src="http://l.yimg.com/g/images/spaceball.gif" alt="" width="160" height="240">
                                        <span class="main_photo_overlay"></span>
                <img class="photo_img" src="http://farm4.static.flickr.com/3534/3900584724_46e270222a_m.jpg" alt="">
                                            </div>

        
        <div class="photo_meta">
            <h2>
                <b>Flickr iPhone App</b> by <a href="/photos/gruber/"><b>gruber</b></a>
                <span class="browse">(<a href="/photos/gruber/with/3900584724/">&uarr;</a>)</span>
            </h2>
            <p class="description">New official <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=328407587&amp;mt=8" rel="nofollow">iPhone Flickr client</a> (iTunes link). I love the home screen
interface; it's a really nice design.
You open it up and it shows you
Ken-Burns-style zoom-and-pan animations
of your friends' photos. But man, is
this app crashy for me. Crashed when I
tried to upload an image. (Then it
worked.) Crashed when I tried to snap a
new photo from within the app. Tried
twice again, crashed twice again. Three
strikes and it's out.<br />
<br />
And for browsing pictures from friends,
I'm still not sure it's a better overall
experience than the iPhone-optimized
m.flickr.com web site. For the social
aspects of Flickr, this app just doesn't
feel very Flickr-y.</p>
            <p class="copyright">

                <span class="privacy">
                
                </span>

                            <span class="license">
                    <img src="http://l.yimg.com/g/images/icon_all_rights.gif" height="15" width="15" style="vertical-align: bottom">                </span>
                                <a href="/photos/gruber/3900584724/meta/">View more info about this photo...</a>        
                    </p>
        </div>

    </div>
    
    
</div>

