
			<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Iphone 墙纸</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="http://www.flickr.com/favicon.ico" rel="shortcut icon"> 
	<link href="/apple-touch-icon.png" rel="apple-touch-icon">
	<%= stylesheet_link_tag "/iphone/iphone", :cache => true %>
	<%= javascript_include_tag "/iphone/iphone", :cache => true %>
	
	<script>
		var F = F || {};
		F.iphone = F.iphone || {};
		
		F.iphone.globals = {
			loggedin: false,
			redirected: false					};

		F.iphone.format_strs = {
		
			thou_sep: ',',
			dec_sep: '.',
		
			iphone_recent_uploads: '最新上載',
			iphone_contact_list: '自己人名冊',
			iphone_your_photostream: '你的所有內容',
			iphone_more: '更多...',

			edit_photo_confirmation: '已設定的標題和描述',
			delete_photo_confirmation: '已刪除的相片',
			edit_photo_license_confirmation: '已設定的授權',
			edit_photo_privacy_confirmation: '已設定的相片私隱',
			edit_photo_safety_confirmation: '已設定的安全層級',

			add_comment_confirmation: '已增加的回應',
			edit_comment_confirmation: '已編輯的回應',
			delete_comment_confirmation: '已刪除的回應',

			change_relationship_confirmation: '已變更的關係',
			
			upload_confirmation: '上載成功',
			
			no_connection_message: "無法連接到 flickr.com",
			
			contact_list_friend_and_family: '朋友和家人',
			contact_list_friend: '朋友',
			contact_list_family: '家人',
			contact_list_contact: '聯絡',
				
			report_abuse_magic_field_empty: '你忘記了填寫神奇的 flickr 欄位。我們實在必須強調！',
			report_abuse_magic_field_incorrect: 'Hrm。你在神奇的 flickr 欄位中輸入了錯誤的片語。我們實在必須強調！',
			report_abuse_email_empty: '你需要告知我們你檢舉濫用的電郵地址。',
			
			contact_list_item: '項目',
			contact_list_items: '項目',
			
			spam_url_warning: '因偵測到垃圾郵件 URL，描述未儲存。'
			
		};

		F.iphone.urls = {
			domain: 'http://m.flickr.com',
			base: '/',
			you_photostream: '/photos//',
			contacts_uploads: '/people/',
			contacts_list: '/people/contacts/',
			photostream_base: '/photos/',
			contact_search_base: '/search/advanced?contacts_only=true&w=people&q='
		};
	</script>

</head>
<body class="loggedout ">

	<div id="beacon"><img src="http://geo.yahoo.com/f?s=792600060&t=152f68277f7a48d2ae7a5712da9b5089&fl_ev=0&lang=zh&intl=us" width="0" height="0" alt="" /></div>

	
	<div id="header" class="toolbar">
		<div id="header-top">
			<div id="logo">
				<h1><a href="#home" id="logo-link" title="首頁"><img src="http://l.yimg.com/g/images/iphone/flickr_logo.png" alt="Flickr" width="50" height="15"></a></h1>
				<span id="global-loading"><img src="http://l.yimg.com/g/images/iphone/balls-24x12-trans.gif" width="20" height="10" alt="載入中..."></span>
			</div>

			<div id="signedin"><a href="/signin/" type="signin">登入</a></div>
		</div>

	
		<div id="nav">
			<ul id="nav_main">
				<li id="welcome-tab" class="first"><a href="#home" type="nav">欢迎</a></li>
        <li id="search-tab" class="last"><a href="#search" type="nav">搜索 </a></li>
				<li id="explore-tab"><a href="/explore/interesting/">热门搜索</a></li>
				<li id="nearby-tab"><a href="/nearby/" type="nav">注册</a></li>
			</ul>

			<ul id="nav_sub"></ul>
		</div>	
		
		<div id="large-loader">载入中...</div>
		
		<div id="msg" class="msg">
			<p id="msg-p"></p>
			<span></span>
			<a href="#" class="close" type="hide_message"><span></span></a>
		</div>
	</div>

 	
	
	<div id="home" tab="welcome" class="hide-sub-nav" spaceid="792600356">
		<div>
			<div id="home-top">
				<div id="featured-photo">
					<h2>分享你的相片；靜觀世界變化。</h2>
					<a href="/photos/pmorgan/32606683/" class="image_link main-image">
						<img src="http://l.yimg.com/g/images/home_photo_pmorgan.jpg" alt="">
					</a>

					<cite>
						<a href="http://www.flickr.com/creativecommons/" class="image_link">
							<img src="http://l.yimg.com/g/images/home_cc.png" width="16" height="16" alt="Creative Commons 授權" class="trans_png">
						</a> 
						<a href="/photos/pmorgan/">pmorgan</a> 上載
					</cite>
				</div>
			
				<div id="stats-strip">
					<form action="/search/advanced" method="GET">

						<input type="text" name="q" id="search-field-welcome" class="form-field" onfocus="F.iphone.setSearchFields(this);" onkeyup="F.iphone.setSearchFields(this);" onchange="F.iphone.setSearchFields(this);"> <a class="Butt form-submit" type="submit" href="#">搜尋</a>
					</form>
			                <ul>
							<li class="first"><a href="/explore/interesting/">過去一分鐘</a> <strong>4,390</strong> 個上載 <b>&#183;</b></li>
								<li class="tour"><a href="http://www.flickr.com/tour/">參與導覽</a></li>

				                </ul>
			        </div>
			</div>
				<ul class="button-nav">
				<li class="first"><a class="Butt" href="/signin/" type="signin">登入</a></li>
									<li class="last"><a class="Butt" href="/signup/yahoo/">建立帳號</a></li>
							</ul>
			</div>

	</div>
	
	

	
	<div id="search" tab="search" class="hide-sub-nav" spaceid="">
		<form id="main-search-form" action="/search/advanced" method="GET">

			<h2>搜尋 Flickr</h2>

			<input type="text" value="" id="search-field" class="search-field" name="q" autocorrect="off" autocapitalize="off" onfocus="F.iphone.setSearchFields(this);" onkeyup="F.iphone.setSearchFields(this);" onchange="F.iphone.setSearchFields(this);">

			<select name="w" class="who" onchange="F.iphone.setSearchUI(this);">
				<option value="all">所有人的上載</option>

				<option value="people">Flickr 全人類</option>
			</select>
			
			<a href="#" type="js" onclick="F.iphone.showAdvSearch(); return false;" id="adv-search-toggle">更多選項…</a>
			
			<div id="adv-search-options">
		  	        <h4>安全搜尋</h4>

		    		<input type="radio" name="ss" id="safe_search_0" value="0" checked> <label for="safe_search_0">開啟安全搜尋</label><br>

				<input type="radio" name="ss" id="safe_search_1" value="1"> <label for="safe_search_1">將安全搜尋設定為中等</label><br>
				<input type="radio" name="ss" id="safe_search_2" value="2"> <label for="safe_search_2">關閉安全搜尋</label>
	
				<h4>按內容類型搜尋</h4>

				<input type="checkbox" name="prefs_photos" id="prefs_photos" value="1"> <label for="prefs_photos">相片 / 視訊</label><br>
				<input type="checkbox" name="prefs_screenshots" id="prefs_screenshots" value="1"> <label for="prefs_screenshots">螢幕截圖 / 螢幕場景</label><br>

				<input type="checkbox" name="prefs_other" id="prefs_other" value="1"> <label for="prefs_other">圖解/插圖 / 動畫/CGI</label><br>
		
				<h4>按媒體類型搜尋</h4>

				<input type="radio" name="mt" id="media_all" value="all" checked> <label for="media_all">相片和視訊</label><br>
				<input type="radio" name="mt" id="media_photos" value="photos"> <label for="media_photos">僅相片</label><br>
				<input type="radio" name="mt" id="media_videos" value="videos"> <label for="media_videos">僅視訊</label>		
			</div>

			<input class="Butt form-submit" id="search-submit" type="submit" value="搜尋">
		</form>
	</div>
	
	<div id="404" class="content hide-sub-nav page-not-found" spaceid="">
		<p class="first">
			<span class="warning-icon"></span>找不到頁面。對不起 :(
		</p>
	</div>

	<div id="footer">
		<p>Copyright © 2010 Yahoo! Inc. 版權所有 不得轉載</p>
		<p class="plain"><a href="http://www.yahoo.com/" target="external">來自  Yahoo!</a> | <a href="http://www.flickr.com/privacy_policy.gne" target="external">個人隱私權</a> | <a href="http://www.flickr.com/terms.gne" target="external">使用條款</a></p>
		<p><a href="http://www.flickr.com/" target="js" onclick="return F.iphone.setAllowWWWCookie();">flickr.com</a> | <a type="js" href="http://m.flickr.com/" onclick="return F.iphone.setRpCookie();">舊版 m.flickr.com</a> | <a class="report-abuse" href="/abuse/" type="report_abuse">檢舉濫用</a></p>

	</div>	
			</body>
		</html>
